{% macro success(text) %}
<div class="alert alert-success">
    <h4 class="alert-heading">{{ 'ekyna.admin.alert.success'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro info(text) %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'ekyna.admin.alert.info'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro error(text) %}
<div class="alert alert-error">
    <h4 class="alert-heading">{{ 'ekyna.admin.alert.error'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro warning(text) %}
<div class="alert alert-warning">
    <h4 class="alert-heading">{{ 'ekyna.admin.alert.warning'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}
