{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
<div style="text-align:right;">
    {{ pagerfanta(paginator, 'backend_pagination', options|default({})) }}
</div>
{% endif %}
{% endmacro %}

{% macro metas(metas) %}
{{ form_row(metas.title) }}
{{ form_row(metas.description) }}
{{ form_row(metas.keywords) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(metas.index, {label_nb_col: 4, nb_col: 8}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(metas.follow, {label_nb_col: 4, nb_col: 8}) }}
    </div>
</div>
{% endmacro %}